*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    min-height: 100%;
}
body{
    height: 100%;
}

#input{
    padding-left: 20px;
}

.error{
    visibility: hidden;
    height: 14px;
    font-size: 12px;
    text-transform: uppercase;
}
sup{
    font-weight: 400;
    font-size: 16px;
}